header {
    background-color: #f8f9fa;
    padding: 13px;
    position: fixed; 
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

nav {
    display: flex;
}

button {
    margin-left: 10px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.sidebar {
    background-color: #721425;
    color: #ffffff;
    width: 13%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin-top: 40%;
    width: 100%;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.sidebar ul li a:hover {
    background-color: #a83232;
}

.main-content {
    width: 87%;
    padding: 40px;
    background-color: #f8f8f8;
}

.main-content h1 {
    margin-top: 7%;
    margin-left: 3%;
    font-size: 36px;
    color: #333333;
}

.main-content p {
    font-size: 16px;
    color: #555555;
    line-height: 1.5;
}

.login-box {
    background-color: #e3e3d9;
    padding: 20px;
    width: 15%;
    height: 100%;
    float: right;
    margin-right: -40px;
}

.login-box h2 {
    font-size: 24px;
    color: #333333;
    margin-top: 110%;
}

.login-box form {
    display: flex;
    flex-direction: column;
}

.login-box input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 16px;
}

.login-box button {
    background-color: #a83232;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.login-box button:hover {
    background-color: #721425;
}

.login-box a {
    margin-top: 10px;
    font-size: 14px;
    color: #333333;
    text-decoration: none;
    text-align: center;
}

.txtinfo p {
    font-size: 22px;
    color: #555555;
    line-height: 2;
    text-align: justify;
    width: 82%;
    margin-top: 20px;
}

.contact-info {
    margin-top: 13%;
    display: inline-flex;
    background-color: #ffffff;
    justify-content: space-between;
    height: 20%;
    width: 83%;
    flex-direction: row;
    align-items: normal;
    padding-top: 2%;
    margin-left: -3%;
    padding-left: 5%;
}

.contact-info div {
    width: 32%;
}

.contact-info h3 {
    font-size: 18px;
    color: #800E13;
    font-weight: bold;
}

.contact-info p {
    font-size: 14px;
    color: #555555;
}

footer {
    background-color: #f8f9fa;
    padding: 1px;
    text-align: left;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    border-top: 1px solid #000000;
}

footer p {
    margin-left: 30px;
}
